<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.github.fwi" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.boot.test.context" level="warn"/>
    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="info"/>
    <logger name="org.springframework.test.context.support" level="warn"/>
    <logger name="org.springframework.test.context.web" level="warn"/>
</configuration>
