<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.github.fwi" level="debug"/>
    <logger name="org.springframework.jdbc.datasource.init.ScriptUtils" level="debug"/>
    <logger name="org.springframework.test.context.support" level="warn"/>
</configuration>
